.fooddisplay{
    margin-top: 30px;
}
.fooddisplay h2{
    font-size: max(2.5vw,22px);
    font-weight: 600;
}
.foodDisplayList{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(240px,1fr));
    margin-top: 30px;
    gap: 30px;
    row-gap: 50px;
    
}